ProjectUMini/.vsconfig
*.sln
ProjectUMini/Library/
ProjectUMini/Logs/
ProjectUMini/Temp/
ProjectUMini/UserSettings/
ProjectUMini/.idea/
ProjectUMini/obj/
*.csproj
UMProject/.vsconfig
UMProject/Library/
UMProject/Logs/
UMProject/Temp/
UMProject/UserSettings/
UMProject/.idea/
UMProject/obj/