ProjectUMini/.vsconfig
*.sln
ProjectUMini/Library/
ProjectUMini/Logs/
ProjectUMini/Temp/
ProjectUMini/UserSettings/
ProjectUMini/.idea/
ProjectUMini/obj/
*.csproj
UMProject/.vsconfig
UMProject/Library/
UMProject/Logs/
UMProject/Temp/
UMProject/UserSettings/
UMProject/.idea/
UMProject/obj/
UMProject/.codely.packages/
UMProject/.codely-cli/
UMProject/.codelyignore
UMProject/.com-unity-codely.json
UMProject/.codely/
UMProject/screenshots/AssetPreview_2026-08-14_20-20-28.png
UMProject/screenshots/
